html {
  background-color: #000;
}

html.light {
  background-color: gray;
}

html.dark {
  background-color: #000;
}

body {
  min-height: 100vh;
  background-color: inherit;
  transition: background-color 0.2s ease;
}
