@import "tailwindcss";
body {
  background-color: black;
}
h1,
h2,
h3 {
  color: white;
}

p {
  color: white;
}

hr {
  color: white;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
